@font-face {
  font-family: "San Francisco";
  src: url("/assets/SanFranciscoFont/SanFranciscoText-Medium.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url("/assets/SanFranciscoFont/SanFranciscoText-Light.otf");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "San Francisco", 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1em;
  background: #eeeeee;
}

@media screen and (max-width: 30em)  {    
  body {    
  border-width: 0;    
  border-top-width: 0.3em;    
  }    
}    

p {
  line-height: 1.5em;
}

article img {
  max-width: 100%;
}

footer svg * { stroke: #efefef !important }

footer svg {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  left: 1.5em;
  width: calc(100% - 3em);
  z-index: -1;
}
    
.blue { color: #0070ff }
.blue-bg { background-color: #0070ff }
.white { color: white; }
.white-bg { background-color: white }
.black{ color: black; }
.grey{ color: #aaa; }
.dark-grey{ color: #999; }
.grey-bg { background-color: #aaa }

.light { font-weight: 300 }

p.light { font-weight: 100; }

.post-content p {
  font-weight: 100;
}

.btn { border-radius: 2em; padding: 0.5em 1em; text-decoration:none; }
.btn:hover {   background-image: linear-gradient(-180deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.20) 100%); }

.background {
  height: 80rem;
  position: absolute;
  width: 100%;
  top: 3.8rem;
  left: 0;
  z-index: -1;
}

.background .artwork {
  background: url("/assets/trigger-header-artwork.svg") repeat-x;
  background-position: -8rem -22.5rem;
  background-size: auto 35.5rem;
  height: 100%;
}

.background-16 {
  height: 16rem;
}

.background-20 {
  height: 20rem;
}

code, pre {
  background:#efefef;
}

pre {
  padding: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  margin: 1.5em 0;
}

.shadow {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
}

blockquote {
  margin: 0;
  font-style: italic;
  padding: 0em 1em;
  color: #aaaaaa;
  border-left: 3px solid  #e9f0f0;
}

.post-card, .post-card-latest, .post-card-subscribe {
  float: left;
  overflow: hidden;
}

.post-card {
  width: calc(33% - 2rem);
  height: 23rem;
  box-shadow: #cccccc 1px 0px 20px;
}

.post-card-latest {
  background: white;
  width: calc(66% - 4rem);
  height: 20rem;
}

.post-card-subscribe {
  background: white;
  width: calc(33% - 4rem);
  height: 20rem;
}

@media screen and (max-width: 50em) {
  .post-card, .post-card-latest, .post-card-subscribe {
    width: calc(100% - 4em);
  }

  .post-card-subscribe.mt0 {
    margin-top: 2rem;
  }
}

.home {
  margin-top: 4rem;
}

.hero-image {
  text-align: center;
  width: 100%;
  height: 13rem;
}

.hero-image img, .avatar img {
  max-width: 100%;
  max-height: 13rem;
}

a.subscribe {
  color: white;
  background: #0070ff;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 2rem);
  text-align: center;
}

.mt6 {
  margin-top: 6rem;
}

.blog-title {
  color: #aaa;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  left: 7.2rem;
  top: 1.23rem;
}

.avatar, .author-content {
  display: inline-block;
  height: 5rem;
  vertical-align: top;
}

.avatar {
  width: 5rem;
}

.avatar img {
  border-radius: 50%;
  max-height: 100%;
}
