---
layout: default
---
<div class="blue-bg background background-20">
  <div class="artwork"></div>
</div>

<div class="mx-auto max-width-4 p2 min-height-100">
  <div>
    <div class="home">
      <div class="post-card-latest ml3 p2 mt4">
        <div class="hero-image m0">
          <div class="center">
            <img src="{{ site.posts.first.image }}">
          </div>
        </div>
        <h2 class="m0 mt2">
          <a class="dark-grey light text-decoration-none" href="{{ site.posts.first.url | prepend: site.baseurl }}">{{ site.posts.first.title | escape }}</a>
        </h2>
        <p class="light grey">{{ site.posts.first.content | strip_html | truncatewords: 25 }}</p>
      </div>
      <div class="post-card-subscribe ml3 p2 mt4">
        <h2 class="m0 mt2 dark-grey">Want our new posts?</h2>
        <p class="light grey mt3 mb3">
          If you’d love to improve your productivity and profits, you’re in the right place! Subscribe today and we’ll deliver new posts direct to your inbox.
        </p>
        <a href="#" class="subscribe mt4">Subscribe today</a>
      </div>
      {% for post in site.posts %}
        {% if post == site.posts.first %}
        {% else %}
        <div class="post-card ml3 p0 mt3">
          <div class="hero-image m0">
            <div class="center">
              <img src="{{ post.thumb }}">
            </div>
          </div>
          <h2 class="m0 pl2 pr2">
            <a class="dark-grey light text-decoration-none" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          </h2>
          <p class="light grey pl2 pr2">{{ post.content | strip_html | truncatewords: 18 }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

