<footer class="py4 px3 lg-px4 dark-blue-bg color-off-white mt3" id="footer">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <div class="relative flex flex-wrap items-center justify-between">
    <div class="col-12 lg-col-10 block lg-flex">
      <div class="flex lg-col-5 b-padding-2">
        <ul class="list-reset col-8 lg-col-6" id="about">
          <div class="h4 uppercase light spaced color-off-white opacity-5 pt1 pb1">Product</div>
          <li><a href="https://triggerapp.com/videos" class="link-off-white opacity-7">Videos</a></li>
          <li><a href="https://triggerapp.com/pricing" class="link-off-white opacity-7">Pricing</a></li>
          <li><a href="https://triggerapp.com/roadmap" class="link-off-white opacity-7">Roadmap</a></li>
          <li><a href="https://triggerapp.com/" class="link-off-white opacity-7">Integrations</a></li>
          <li><a href="https://triggerapp.com/love" class="link-off-white opacity-7">Testimonials</a></li>
          <li><a href="http://productupdates.triggerapp.com" class="link-off-white opacity-7">Product Updates</a></li>
          <li><a href="https://triggerapp.com/roles-permissions" class="link-off-white opacity-7">Roles & Permissions</a></li>
        </ul>
        <ul class="list-reset col-4 lg-col-6" id="support">
          <div class="h4 uppercase light spaced color-off-white opacity-5 pt1 pb1">Support</div>
          <li><a href="https://triggerapp.com/faq" class="link-off-white opacity-7">FAQ</a></li>
          <li><a href="https://triggerapp.com/demo" class="link-off-white opacity-7">Demo</a></li>
          <li><a href="https://triggerapp.com/contact" class="link-off-white opacity-7">Contact</a></li>
          <li><a href="https://triggerapp.com/help" class="link-off-white opacity-7">Help Centre</a></li>
          <li><a href="https://triggerapp.com/developers" class="link-off-white opacity-7">API for Developers</a></li>
        </ul>
      </div>
      <div class="flex lg-col-7">
        <ul class="list-reset col-8 lg-col-6" id="comparisons">
          <div class="h4 uppercase light spaced color-off-white opacity-5 pt1 pb1">Comparisons</div>
          <li><a href="https://triggerapp.com/alternative-to-trello" class="link-off-white opacity-7">Alternative to Trello</a></li>
          <li><a href="https://triggerapp.com/alternative-to-asana" class="link-off-white opacity-7">Alternative to Asana</a></li>
          <li><a href="https://triggerapp.com/alternative-to-basecamp" class="link-off-white opacity-7">Alternative to Basecamp</a></li>
          <li><a href="https://triggerapp.com/alternative-to-workflow-max" class="link-off-white opacity-7">Alternative to WorkflowMax</a></li>
        </ul>
        <ul class="list-reset col-4 lg-col-6" id="other">
          <div class="h4 uppercase light spaced color-off-white opacity-5 pt1 pb1">Other</div>
          <li><a href="http://blog.triggerapp.com" class="link-off-white opacity-7">Blog</a></li>
          <li><a href="https://triggerapp.com/" class="link-off-white opacity-7">About Us</a></li>
          <li><a href="https://triggerapp.com/privacy" class="link-off-white opacity-7">Privacy Policy</a></li>
          <li><a href="https://triggerapp.com/affiliate_program" class="link-off-white opacity-7">Affiliate Program</a></li>
          <li><a href="https://triggerapp.com/terms_of_service" class="link-off-white opacity-7">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 pt1 pb1 lg-padding-0 lg-hide"></div>
    <ul class="list-reset col-12 lg-col-2 flex justify-center" id="social">
      <li class="pr1 pl1"><a href="https://twitter.com/triggerapp" class="social-icon asset-social-twitter"></a></li>
      <li class="pr1 pl1"><a href="https://www.facebook.com/gettrigger" class="social-icon asset-social-facebook"></a></li>
      <li class="pr1 pl1"><a href="https://www.linkedin.com/company/triggerapp" class="social-icon asset-social-linkedin"></a></li>
    </ul>
  </div>
  <div class="pt1 pb1"></div>
  <div class="center h4 light opacity-5">
    Copyright © 2017.
    Proudly developed by
    <a href="http://netengine.com.au/" class="bold underline" title="Building things that really matter">NetEngine</a>
  </div>
</footer>
