---
layout: default
---
<div class="background background-20 blue-bg">
  <div class="artwork"></div>
</div>

<div class="mx-auto max-width-4">
  <h1 class="mt4 light white pt4">{{ page.title }}</h1>
  <div class="white-bg p3 pb3 mt3">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
  <div class="mt2 mb2">
    <div class="avatar mr2">
      <img src="{{ page.avatar }}" />
    </div>
    <div class="author-content">
      <p class="light black pb0 mb0">{{ page.date | date: "%d %B, %Y" }}</p>
      <h4 class="black mt0">By {{ page.author }}</h4>
    </div>
  </div>
</div>
